# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Turbo
.turbo/

# IDEs
.vscode/
.idea/

# Expo
.expo/
.expo-shared/

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo
